@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Currency Values as of @DateTime.Now.ToShortDateString()</h3>
            </div>
                       
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="x_content">
                        <div class="row">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-caret-square-o-right"></i>
                                    </div>
                                    <div class="count">@ViewData["USDToTRY"]</div>

                                    <h3>$ to ₺ </h3>
                                    <p>Current USD - TRY Currency </p>
                                </div>
                            </div>
                            
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-caret-square-o-right"></i>
                                    </div>
                                    <div class="count">@ViewData["EURToTRY"]</div>

                                    <h3>€ to ₺ </h3>
                                    <p>Current EUR - TRY Currency </p>
                                </div>
                            </div>

                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-caret-square-o-right"></i>
                                    </div>
                                    <div class="count">@ViewData["GBPToTRY"]</div>

                                    <h3>£ to ₺ </h3>
                                    <p>Current GBP - TRY Currency </p>
                                </div>
                            </div>
                            
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-caret-square-o-right"></i>
                                    </div>
                                    <div class="count">@ViewData["USDToEUR"]</div>

                                    <h3>$ to £</h3>
                                    <p>Current USD - EUR Currency </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

